.card {
  background-color: rgb(250, 250, 250);
  
}

h6 {
  padding-left: 10px;
  color: rgb(67, 202, 67);
}
h4 {
  padding-left: 10px;
}

button {
  color: white;
  font-weight: bold;
  margin-left: 50px;
  height: 60px;
}

.form-control {
  margin-bottom: 100px;
}